  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    background: rgb(170, 168, 182);
    /* perspective: 1000px; */
    height: 100vh;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 162px;
    height: 162px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }

  .container1 {
    position: absolute;
    top: 50%;
    left:39%;
    transform: translate(-50%, -50%);
    width: 162px;
    height: 162px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }

  .container2 {
    position: absolute;
    top: 50%;
    left:61%;
    transform: translate(-50%, -50%);
    width: 162px;
    height: 162px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }


 .container .item {
    width: 150px;
    height: 150px;
    background: #ce0e0e;
    color: #fff;
    font-size: 75px;
    line-height: 175px;
    text-align: center;
  
    position: absolute;
    transition: all 1s ease;
  }

.front {
  transform: translate3d(0, 0, 75px);
}

.back {
  transform: translate3d(0,0,-75px);
}

.left {
  transform: translate3d(-75px,0,0) rotateY(-90deg);
}

.right {
  transform: translate3d(75px,0,0) rotateY(90deg);
}

.top {
  transform: translate3d(0,-75px,0) rotateX(90deg);
}

.bottom {
  transform: translate3d(0,75px,0) rotateX(-90deg);
}

.container:hover  {
  transform: translate(-50%, -50%) rotateX(180deg) rotateY(180deg) rotateZ(180deg);

}





.container1 .item {
  width: 150px;
  height: 150px;
  background: #450be7;
  color: #fff;
  font-size: 75px;
  line-height: 175px;
  text-align: center;

  position: absolute;
  transition: all 1s ease;
}

.container1 .front {
transform: translate3d(0, 0, 75px);
}

.container1 .back {
transform: translate3d(0,0,-75px);
}

.container1 .left {
transform: translate3d(-75px,0,0) rotateY(-90deg);
}

.container1 .right {
transform: translate3d(75px,0,0) rotateY(90deg);
}

.container1 .top {
transform: translate3d(0,-75px,0) rotateX(90deg);
}

.container1 .bottom {
transform: translate3d(0,75px,0) rotateX(-90deg);
}

.container1:hover  {
  transform: translate(-50%, -50%) rotateX(180deg) rotateY(180deg) rotateZ(180deg);

}

.container2 .item {
  width: 150px;
  height: 150px;
  background: #f0ec08;
  color: #fff;
  font-size: 75px;
  line-height: 175px;
  text-align: center;

  position: absolute;
  transition: all 1s ease;
}


.container2 .front {
  transform: translate3d(0, 0, 75px);
  }
  
  .container2 .back {
  transform: translate3d(0,0,-75px);
  }
  
  .container2 .left {
  transform: translate3d(-75px,0,0) rotateY(-90deg);
  }
  
  .container2 .right {
  transform: translate3d(75px,0,0) rotateY(90deg);
  }
  
  .container2 .top {
  transform: translate3d(0,-75px,0) rotateX(90deg);
  }
  
  .container2 .bottom {
  transform: translate3d(0,75px,0) rotateX(-90deg);
  }
  
  .container2:hover  {
    transform: translate(-50%, -50%) rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  
  }